<!--The content below is only a placeholder and can be replaced.-->
<html>
<body style="background-image:url('https://media.discordapp.net/attachments/566280873335455746/566687313120460805/Image.jpg?width=1674&height=883');">

<div class="logo">
<h1>
  <img src="assets/AlumneyeLogo.png" style="float: left;">
</h1>
</div>

<div class="topnav">
  <input type="text" placeholder="Search..">
</div>

<form align="right" name="form1" method="post" action="log_out.php">
  <label class="logoutLblPos">
  <input name="submit2" type="submit" id="submit2" value="sign out" style="height: 30px">
  </label>
</form>

</body>

<!-- Side navigation -->
<div class="sidenav">
  <a href="#">Classes</a>
  <a href="#">Email</a>
  <a href="#">Forum</a>
  <a href="#">News</a>
  <a href="#">Statistics</a>
  <a href="#">Profile</a>
  <a href="#">Help</a>
  <a href="#">Feedback</a>
  <a href="#">Settings</a>
</div>


<!-- Page body -->
<div class="welcomepage">
  <p>Welcome to Alumneye</p>
</div>

<div class="announcements">
  <img src="assets/Calendar.jpg" style="float: right;">
  <p>ANNOUNCEMENTS</p>
</div>

<div class="post">
  <p>Posted By Karen Guerra</p>
  <p>Modified Date Feb 6, 2019 3:34 pm</p>
  <p>Groups site</p>
</div>

<div class="par">
  <p>Spring 2019 Graduation Candidates,</p>
  <p>The spring 2019 graduation application is available in</p>
  <p>CatsWeb. If you plan to complete your degree this</p>
  <p>semester, and graduate in May 2019, you must apply</p>
  <p>for graduation. If you have already applied, thank you!</p>
  <p> </p>
  <p>For candidate and guest information: Commencement.</p>
</div>



</html>



